[project]
name = "template-bot"
version = "0.1.0"
description = ""
readme = "README.md"
requires-python = ">=3.14.0"
dependencies = [
    "hikari-lightbulb>=3.2.2",
    "hikari[speedups]>=2.5.0",
    "rich>=14.2.0",
    "uvloop>=0.22.1",
]

[dependency-groups]
dev = [
    "poethepoet>=0.37.0",
    "prek>=0.2.13",
    "ruff>=0.14.5",
    "ty>=0.0.1a26",
]

[tool.poe.tasks]
prek = "prek install"
start = "python -m bot"
lint = "ruff check ."
fmt = "ruff format ."
check = "ty check"

[tool.ruff]
fix = true
line-length = 120
target-version = "py313"
extend-exclude = [".cache", ".venv"]
output-format = "concise"
unsafe-fixes = true

[tool.ruff.lint]
select = [
  "E","F","W",
  "B","C4","SIM",
  "I","TID",
  "ANN","UP",
  "S","DTZ","TRY","ERA",
  "RET","RSE","Q","PGH","T20",
  "RUF",
  "N","A",
  "ASYNC",
  "D102","D103","D400","D401"
]
ignore = [
  # Type hints
  "ANN002","ANN003","ANN204","ANN206",
  # Security
  "S311",  # allow random for fun commands
  # Pylint-inspired
  "PLR2004","PLR0913"
]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "lf"
docstring-code-format = true

[tool.ruff.lint.isort]
known-first-party = ["bot"]
lines-after-imports = 2
order-by-type = false
case-sensitive = true
combine-as-imports = true
